<!--
Citation for hbs page format:
Date: 3/17/2023
Based on OSUs cs340 nodejs-starter-app
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->
<!DOCTYPE html>
<html lang="en">
<head>
     <title>Items Ordered</title>
</head>

<body>
<div class="navbar"> <!-- navbar -->
    <a href="/">Customers</a>
    <a href="/orders">Orders</a> 
    <a href="/employees">Employees</a>
    <a href="/menuitems">Menu</a>
    <a href="/recipes">Recipes</a>
    <a href="/inventoryitems">Inventory Items</a>
    <a class="active" href="/items_ordered">Items on Orders</a>
    <a href="/order_employees">Employees on Orders</a>
</div>

<table id="itemsordered-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value="{{this.itemsorderedID}}">
            <td>{{this.itemsorderedID}}</td>
            <td>{{this.orderID}}</td>
            <td>{{this.menuID}}</td>
            <td><button onclick="deleteItemsOrdered({{this.itemsorderedID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_itemsordered.js"></script>

<h2>Add a Item to an Order</h2>
<p>To add an item to an existing order, please enter the information below and click 'Submit'!</p>
<form id="add-itemsordered-ajax">
    <label for="input-order">Order: </label>
    <select name="input-order" id="input-order">
        <option value="None">Select an Order</option>
        {{#each orders}}
        <option value="{{this.orderID}}">{{this.orderOn}} (ID: {{this.orderID}})</option>
        {{/each}}
    </select>
    
    <label for="input-menu">Menu Item: </label>
    <select name="input-menu" id="input-menu">
        {{#each menuItems}}
        <option value="{{this.menuID}}">{{this.item}} (ID: {{this.menuID}})</option>
        {{/each}}
    </select>
    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_itemsordered.js"></script>

</body>
</html>
