<!--
Citation for hbs page format:
Date: 3/17/2023
Based on OSUs cs340 nodejs-starter-app
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->
<!DOCTYPE html>
<html lang="en">
<head>
     <title>Menu Items</title>
</head>

<body>
<div class="navbar"> <!-- navbar -->
    <a href="/">Customers</a>
    <a href="/orders">Orders</a> 
    <a href="/employees">Employees</a>
    <a class ="active" href="/menuitems">Menu</a>
    <a href="/recipes">Recipes</a>
    <a href="/inventoryitems">Inventory Items</a>
    <a href="/items_ordered">Items on Orders</a>
    <a href="/order_employees">Employees on Orders</a>
</div>

<table id="menu-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value="{{this.menuID}}">
            <td>{{this.menuID}}</td>
            <td>{{this.item}}</td>
            <td>{{this.type}}</td>
            <td>{{this.price}}</td>
            <td><button onclick="deleteMenu({{this.menuID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_menu.js"></script>

<h2>Add a New Menu Item</h2>
<p>To add a new menu item, please enter their information below and click 'Submit'!</p>
<form id="add-menu-form-ajax">
    <label for="input-item">Item: </label>
    <input type="text" name="input-item" id="input-item">
    
    <label for="input-type">Type: </label>
    <input type="text" name="input-type" id="input-type">

    <label for="input-email">Price: </label>
    <input type="text" name="input-price" id="input-price">

    <input type="submit">
</form>
<script src="./js/add_menu.js"></script>

<h2>Update an Existing Menu Item</h2>
<form id="update-menu-form-ajax">

    <label for="input-menu">Menu: </label>
    <select name="input-menu" id="mySelect">
        <option value="test">Select a Menu Item</option>
        {{#each data}}
        <option value="{{this.menuID}}">{{this.item}}</option>
        {{/each}}
    </select>
    <br>
    <label for="input-item">Item: </label>
    <input type="text" name="input-item" id="input-item1">
    
    <label for="input-type">Type: </label>
    <input type="text" name="input-type" id="input-type1">

    <label for="input-price">Price: </label>
    <input type="text" name="input-price" id="input-price1">

    <input type="submit">
</form>
<script src="./js/update_menu.js"></script>

</body>
</html>
